<div class='movie-info'>

  <img src='{{image}}' alt='' />
  <h2>{{title}}</h2>
  <hr />
  <p>Directed by: {{director}}</p>
  <p>Summary: {{description}}</p>

  <p>Starring: {{stars}}</p>
  <hr />

  <p>Showtimes: {{showtimes}} </p>

  <a href='/movies'>Back</a>
</div>